body {
	background-color: black;
	text-align: center;
}
h1 {
	font-family: Arial;
	font-size: 1.8em;
	color: lightblue;
	text-align: center;
	text-decoration: underline overline;
	text-transform: capitalize;
}
h2 {
	font-family: Times New Roman;
	font-size: 1.6em;
	color: lightblue;
	text-align: center;
	text-decoration: underline;
	text-transform: uppercase;
}
h3 {
	font-family: Arial;
	font-size: 1.4em;
	color: lightblue;
	text-align: center;
	text-decoration: underline overline;
	text-transform: capitalize;
}
ul {
	font-family: Arial;
	font-size: 1em;
	color: white;
	text-align: center;
	background-color: black;
	list-style-position: inside;
}
summary {
	font-size: 1.5em;
}
li {
	font-size: 1.4em;
}

 

